# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
.env
.env.*

# VS Code
.vscode/
.history/

# OS
Thumbs.db
.DS_Store

# Virtual environments
venv/
env/
ENV/
.venv/